.container{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #FFEFEF;
}
.boxs{
    width: 55%;
    height: auto;
    background-color: white;
    margin: auto;
    border-radius: 20px;
}
.box-img{
    width: 100%;
    height: auto;
    margin-top: 40px;
}
img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
.box-1{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #F3C2C2;
}
.form-label{
   margin-top: 30px;
   margin-left: 30px;
   font-size: 20px;
   font-weight: bold;
}
.form-controls{
    display: block;
    width: 90%;
    height: 40px;
    /* margin-top: 10px; */
    margin-left: 30px;
    border-radius: 10px;
   
}


.box-2{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
}
.left{
    width: 60%;
    height: 100px;
    background-color: aqua;
}
.right{
    width: 40%;
    height: 100px;
    background-color: red;
}
.box-1 h1{
    margin-left: 8%;
    color: #1655F6;
}
hr{
    width: 95%;
}
h5{
    margin-left: 8%;
    color: red;
}

@media (max-width: 768px) {
    .boxs {
        width: 90%;
    }
    
    .box-2 {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    img {
        height: 100px;
    }

    h1, h5 {
        margin-left: 5%;
    }
}

/* Media Query for Smaller Mobile Devices */
@media (max-width: 480px) {
    .boxs {
        width: 95%;
    }
    
    img {
        
        height: 100px;
    }

    .box-1 {
        height: 120px;
    }

    .box-2 {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    h1, h5 {
        margin-left: 3%;
        font-size: 1rem; /* Adjust font size for smaller screens */
    }
}


/* .box-2{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: #F3C2C2;
}
.box-3{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: #F3C2C2;
}
.box-4{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: #F3C2C2;
}
.box-5{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: #F3C2C2;
}
.box-6{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: #F3C2C2;
}
.box-7{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: #F3C2C2;
}
.box-8{
    width: 100%;
    height: 100px;
    background-color: #F3C2C2;
}
.box-9{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: #F3C2C2;
}
.box-10{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: #F3C2C2;
} */
